<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Berliner</title>
  <style type="text/css">
  <%= style %>
  </style>
</head>
<body>
  <% articles.each do |article| %>
    <article>
      <p>
        <a href="<%= article.permalink %>">
          <h1><%= article.title %></h1>
        </a>
        <h2><%= article.author %></h2>
        <% if article.source != article.via %>
          <h3><%= article.source %> via <%= article.via %></h3>
        <% else %>
          <h3><%= article.source %></h3>
        <% end %>
        <% if article.image %>
          <p><img src="<%= article.image%>"></p>
        <% end %>
      </p>
      <%= article.body %>
    </article>
  <% end %>
</body>
</html>